# Logs

Logs
*.Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

#editor directores and files

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

###  Sass  ###

.sass-cache/
*.css.map
*.sass.map
*.scss.map
build*
build
