@use 'base/variables' as v;

/*.slider{
  overflow: hidden;  //ya que las imagenes salen una al lado de la otra para dar el slide es necesario dejar una y ocultar las demas con esta propiedad se ocultan al mover con el mause ellas van aparecindo 
  position: relative;  //para que ls flechas de js para pasar la imagen no se vena tan separadas y tomen como referencia las imagenes y no todo el documento asi no se veran tan separadas 

  &__slide{
    height: 100%;   //estilos que trae por default el swiper 
    width: 100%;
    position: relative;
    flex-shrink: 0;
    transition: transform;
  }

  &__imagen{
    width: 100%;
  }

  .swiper-button-next,   //clases e los estilos que le da swiper a las flechas para cambiarle el color se agregar la clase de ellos y se aplica el estilo 
  .swiper-button-prev{

    color: v.$blanco;
  }

  .swiper-pagination-bullet{  //para las bi;etas de abajo 

    background-color: v.$blanco;
    opacity: .5;
  }


  .swiper-pagination-bullet-active{

    background-color: v.$primario;  //para la bi;eta que indique en que imagen se esta 
  }
}*/


/*.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}      este codigo se lo quitamos ya que este codigo hace que sea un cubo 3d pero como nosotros tenemos mas contenido al quitarlo queda la imagen en el centro haciendo funcion de cubo ya que este codigo es el que se encarga de que sea un cubo de 300px por 300px */

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}